@{
    ViewData["Title"] = "Chi tiet don hang";
    Layout = "_LayoutAdmin";
}

@section CssAdmin {
   
    <link rel="stylesheet" href="~/assets/css/admin/styleAllUser.css" />
}

<body class="dark-theme">
   
    <div id="main-content">
        <div class="main-container">
            <div class="header">
                <h1>Tất cả người dùng</h1>
            </div>
            <div id="all-user-container">
                <table id="myTable" class="display" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Tên đăng nhập</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Sdt</th>
                            <th>Quyền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model){
                            <tr>
                                <td>@user.Name</td>
                                <td>@user.email</td>
                                <td>@user.Address</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.Role</td>
                           
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 
</body>