@model IEnumerable<WebBanLapTop.ViewModel.ProductVM>

@{
    ViewData["Title"] = "Admin";
    Layout = "_LayoutAdmin";
}
@section CssAdmin {
    <link rel="stylesheet" href="~/assets/css/admin/styleListProduct.css" />
}


<body class="dark-theme">

    <div id="main-content">
        <div class="main-container">
            <div class="header">
                <h1>Danh sách sản phẩm</h1>
            </div>
            <div id="list-product-container">
                <a class="btn btn-primary btn-customize px-5 py-2 mb-2"
                   asp-controller="Admin" asp-action="addProduct" role="button">Thêm</a>
                <div class="product-list">

                    <table id="myTable" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>ID sản phẩm</th>
                                <th>Sản phẩm</th>
                                <th>Giá</th>
                                <th>Khối lượng</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var p in Model)
                            {
                                <tr data-id="@p.Id">
                                    <td><img src="~/assets/img_laptop/@p.Img" style="width:100px" /></td>
                                    <td>@p.Id</td>
                                    <td>@p.Name</td>
                                    <td>@p.Price.ToString("#,##0")</td>
                                    <td>@p.KhoiLuong</td>
                                    <td>
                                        <a class="btn btn-success btn-customize" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@p.Id" role="button">Chỉnh sửa</a>

                                        <a class="btn btn-danger btn-customize"
                                           href="#" onclick="deleteProduct(@p.Id)" role="button">Xóa</a>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @section ScriptsAdmin {
        <script src="~/assets/js/CRUDProduct.js" ></script>
    }
</body>