@model IEnumerable<WebBanLapTop.Data.Hoadon>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Profile";
}

@section Css {
    <link href="~/assets/css/StyleProfile.css" rel="stylesheet" />
}

<body>
   
    <!-- MAIN -->
    <main class="profile">
        <div class="container">
            <!-- Search bar -->
            <div class="profile-container">
                <div class="search-bar d-none d-md-flex">
                    <input type="text" name="" id="" placeholder="Search for item" class="search-bar__input" />
                    <button class="search-bar__submit">
                        <img src="~/assets/icons/search.svg" alt="" class="search-bar__icon icon" />
                    </button>
                </div>
            </div>

            <!-- Profile content -->
            <div class="profile-container">
                <div class="row gy-md-3">
                    <div class="col-3 col-xl-4 col-lg-5 col-md-12">
                        <aside class="profile__sidebar">
                            <!-- User -->
                            <div class="profile-user">
                                <img src="~/assets/img/avatar.jpg" alt="" class="profile-user__avatar" />
                                <h1 class="profile-user__name">@Context.User.Identity.Name</h1>
                            </div>

                            <!-- Menu 1 -->
                            <div class="profile-menu">
                                <h3 class="profile-menu__title">Manage Account</h3>
                                <ul class="profile-menu__list">
                                    <li>
                                        <a @* href="~/edit-personal-info.html" *@ class="profile-menu__link">
                                            <span class="profile-menu__icon">
                                                <img src="~/assets/icons/profile.svg" alt="" class="icon" />
                                            </span>
                                            Thông tin tài khoản
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" class="profile-menu__link">
                                            <span class="profile-menu__icon">
                                                <img src="~/assets/icons/location.svg" alt="" class="icon" />
                                            </span>
                                            Chỉnh sửa 
                                        </a>
                                    </li>
                                   @*  <li>
                                        <a href="#!" class="profile-menu__link">
                                            <span class="profile-menu__icon">
                                                <img src="~/assets/icons/message-2.svg" alt="" class="icon" />
                                            </span>
                                            Orders
                                        </a>
                                    </li> *@
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-9 col-xl-8 col-lg-7 col-md-12">
                        <div class="cart-info">
                            <div class="row gy-3">
                                

                                <!-- Account info -->
                                <div class="col-12">
                                    <h2 class="cart-info__heading">Thông tin tài khoản</h2>
                                    <p class="cart-info__desc profile__desc">
                                       Địa chỉ, thông tin liên lạc 
                                    </p>
                                    <div class="row gy-md-2 row-cols-2 row-cols-lg-1">
                                        <!-- Account info 1 -->
                                        <div class="col">
                                            <a href="#">
                                                <article class="account-info">
                                                    <div class="account-info__icon">
                                                        <img src="~/assets/icons/message.svg" alt="" class="icon" />
                                                    </div>
                                                    <div>
                                                        <h3 class="account-info__title">Email Address</h3>
                                                        <p class="account-info__desc">@ViewBag.Email</p>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>

                                        <!-- Account info 2 -->
                                        <div class="col">
                                            <a href="#">
                                                <article class="account-info">
                                                    <div class="account-info__icon">
                                                        <img src="~/assets/icons/calling.svg" alt="" class="icon" />
                                                    </div>
                                                    <div>
                                                        <h3 class="account-info__title">Phone number</h3>
                                                        <p class="account-info__desc">@ViewBag.Phone</p>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>

                                        <!-- Account info 3 -->
                                        <div class="col">
                                            <a href="#">
                                                <article class="account-info">
                                                    <div class="account-info__icon">
                                                        <img src="~/assets/icons/location.svg"
                                                             alt=""
                                                             class="icon" />
                                                    </div>
                                                    <div>
                                                        <h3 class="account-info__title">Address</h3>
                                                        <p class="account-info__desc">
                                                            @ViewBag.Address
                                                        </p>
                                                    </div>
                                                </article>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                                <!-- Orders -->
                                <div class="col-12">
                                    <h2 class="cart-info__heading">Lịch sử mua hàng</h2>
                                    <p style="font-size:18px" class="cart-info__desc profile__desc">@Model.Count() đơn hàng</p>

                                    <!-- Orders -->
                                    @foreach(var o in Model)
                                    {
                                        <article class="favourite-item">

                                            <div class="show-orders">
                                                <h3 class="favourite-item__title">
                                                    Mã đơn hàng
                                                </h3>
                                                <h3 class="favourite-item__title">
                                                  @o.Id
                                                </h3>
                                                <h3 class="favourite-item__title">
                                                    Ngày đặt hàng
                                                </h3>
                                                <h3 class="favourite-item__title">
                                                   @o.NgayDat
                                                </h3>
                                                <h3 class="favourite-item__title">
                                                    Địa chỉ nhận
                                                </h3>
                                                <h3 class="favourite-item__title">
                                                    @o.DiaChiNhan
                                                </h3>
                                                <h3 class="favourite-item__price">
                                                    Tổng tiền
                                                </h3>
                                                <div class="favourite-item__price">
                                                    @o.TongTien.Value.ToString("#,##0")     
                                                    
                                                </div>
                                                <div class="custom-btn">
                                                    <a asp-controller="Account" asp-action="GetOrderDetail" asp-route-id="@o.Id" style="font-size:18px" class="favourite-item__price">Xem chi tiết</a>
                                                </div>
                                            </div>
                                        </article>
                                        <div class="separate" style="--margin: 20px"></div>
                                    }
                                   

                                   

                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    


</body>
