@model WebBanLapTop.ViewModel.HomeVM

@{
    ViewData["Title"] = "Home Page";

}

<main class="container home">
    <!-- Slideshow -->
    <div class="home__container">
        <div class="slideshow">
            <div class="slideshow__inner">
                <div class="slideshow__item" style="height:550px">
                    <a href="#!" class="slideshow__link">
                        <picture>
                            <source media="(max-width: 767.98px)"
                                    srcset="~/assets/img/slideshow/banner_laptop.png" />
                            <img src="~/assets/img/slideshow/banner_laptop.png" alt="" class="slideshow__img" />
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Browse Categories -->
    <section class="home__container">
        <div class="home__row">
            <h2 class="home__heading">Danh mục sản phẩm</h2>
        </div>

        <div class="home__cate row row-cols-3 row-cols-md-1">
            @foreach (var cate in Model.Categories)
            {
                <!-- Category item 1 -->
                <div class="col">
                    <a asp-controller="Product" asp-action="ProductByCate" asp-route-Id="@cate.Id">
                        <article class="cate-item">
                            <img src="~/assets/img_laptop/@cate.Hinh" alt="" class="cate-item__thumb" />
                            <div class="cate-item__info">
                                <p class="cate-item__desc">@cate.Name</p>
                            </div>
                        </article>
                    </a>
                </div>
            }



        </div>
    </section>

    <!-- Browse Products -->
    <section class="home__container">
        <div class="home__row">
            <h2 class="home__heading">Hiển thị  @Model.Products.Count() sản phẩm</h2>
            <div class="filter-wrap">
                <button class="filter-btn js-toggle" toggle-target="#home-filter">
                    Filter
                    <img src="~/assets/icons/filter.svg" alt="" class="filter-btn__icon icon" />
                </button>

                <div id="home-filter" class="filter hide">
                    <img src="~/assets/icons/arrow-up.png" alt="" class="filter__arrow" />
                    <h3 class="filter__heading">Filter</h3>
                    <form action="" class="filter__form form">
                        <div class="filter__row filter__content">
                            <!-- Filter column 1 -->
                            <div class="filter__col">
                                <label for="" class="form__label">Price</label>
                                <div class="filter__form-group">
                                    <div class="filter__form-slider"
                                         style="--min-value: 10%; --max-value: 60%"></div>
                                </div>
                                <div class="filter__form-group filter__form-group--inline">
                                    <div>
                                        <label for="" class="form__label form__label--small"> Minimum </label>
                                        <div class="filter__form-text-input filter__form-text-input--small">
                                            <input type="text"
                                                   name=""
                                                   id=""
                                                   class="filter__form-input"
                                                   value="$30.00" />
                                        </div>
                                    </div>
                                    <div>
                                        <label for="" class="form__label form__label--small"> Maximum </label>
                                        <div class="filter__form-text-input filter__form-text-input--small">
                                            <input type="text"
                                                   name=""
                                                   id=""
                                                   class="filter__form-input"
                                                   value="$100.00" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="filter__separate"></div>

                            <!-- Filter column 2 -->
                            <div class="filter__col">
                                <label for="" class="form__label">Size/Weight</label>
                                <div class="filter__form-group">
                                    <div class="form__select-wrap">
                                        <div class="form__select" style="--width: 158px">
                                            500g
                                            <img src="~/assets/icons/select-arrow.svg"
                                                 alt=""
                                                 class="form__select-arrow icon" />
                                        </div>
                                        <div class="form__select">
                                            Gram
                                            <img src="~/assets/icons/select-arrow.svg"
                                                 alt=""
                                                 class="form__select-arrow icon" />
                                        </div>
                                    </div>
                                </div>
                                <div class="filter__form-group">
                                    <div class="form__tags">
                                        <button class="form__tag">Small</button>
                                        <button class="form__tag">Medium</button>
                                        <button class="form__tag">Large</button>
                                    </div>
                                </div>
                            </div>

                            <div class="filter__separate"></div>

                            <!-- Filter column 3 -->
                            <div class="filter__col">
                                <label for="" class="form__label">Brand</label>
                                <div class="filter__form-group">
                                    <div class="filter__form-text-input">
                                        <input type="text"
                                               name=""
                                               id=""
                                               placeholder="Search brand name"
                                               class="filter__form-input" />
                                        <img src="~/assets/icons/search.svg"
                                             alt=""
                                             class="filter__form-input-icon icon" />
                                    </div>
                                </div>
                                <div class="filter__form-group">
                                    <div class="form__tags">
                                        <button class="form__tag">Lavazza</button>
                                        <button class="form__tag">Nescafe</button>
                                        <button class="form__tag">Starbucks</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter__row filter__footer">
                            <button class="btn btn--text filter__cancel js-toggle" toggle-target="#home-filter">
                                Cancel
                            </button>
                            <button class="btn btn--primary filter__submit js-toggle"
                                    toggle-target="#home-filter">
                                Show Result
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row row-cols-5 row-cols-lg-2 row-cols-sm-1 g-3">
            <!-- Product card  -->
            @foreach (var product in Model.Products)
            {
                <div class="col">
                    <article class="product-card">
                        <div class="product-card__img-wrap">
                            @*   <a href="./product-detail.html">
                        <img src="~/assets/img_laptop/@product.Img" alt="" class="product-card__thumb" />
                        </a> *@

                            <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@product.Id">
                                <img src="~/assets/img_laptop/@product.Img" alt="" class="product-card__thumb" />
                            </a>

                            @* <button class="like-btn product-card__like-btn">
                        <img src="~/assets/icons/heart.svg" alt="" class="like-btn__icon icon" />
                        <img src="~/assets/icons/heart-red.svg" alt="" class="like-btn__icon--liked" />
                        </button> *@
                        </div>
                        <h3 class="product-card__title">
                            <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@product.Id">@product.Name</a>

                        </h3>
                        @*  <p class="product-card__brand">Lavazza</p> *@
                        <div class="product-card__row">
                            <span class="product-card__price">@product.Price.ToString("#,##0.00")</span>
                            <img src="~/assets/icons/star.svg" alt="" class="product-card__star" />
                            <span class="product-card__score">4.3</span>
                            <a style="margin-left:10px" asp-action="AddToCart"  asp-controller="Cart" asp-route-id="@product.Id"  >
                                
                                
                                
                                <img src="~/assets/icons/buy.svg" /> </a>
                        </div>
                    </article>
                </div>
            }
        </div>
    </section>
</main>

